<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlog.gilberto.carlog" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:value="@string/facebook_app_id" android:name="com.facebook.sdk.ApplicationId"/>
        <activity
            android:name=".activity.myActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.listaLogs"
            android:label="ListaLogs" >
        </activity>
        <activity
            android:name=".activity.login"
            android:label="Login" >
        </activity>
        <activity
            android:name=".activity.register"
            android:label="Register" >
        </activity>
        <activity
            android:name=".activity.addLog"
            android:label="@string/title_activity_add_log"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.ayuda"
            android:label="@string/title_activity_ayuda"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.info"
            android:label="@string/title_activity_info"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.aceite"
            android:label="@string/title_activity_aceite"
            android:parentActivityName=".activity.addLog" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AddLog" />
        </activity>
        <activity
            android:name=".activity.filtroAceite"
            android:label="@string/title_activity_fil_aceite"
            android:parentActivityName=".activity.addLog" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AddLog" />
        </activity>
        <activity
            android:name=".activity.revGral"
            android:label="@string/title_activity_revgral"
            android:parentActivityName=".activity.addLog" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AddLog" />
        </activity>
        <activity
            android:name=".activity.modificarAceite"
            android:label="@string/title_activity_modificaraceite"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarRevGral"
            android:label="@string/title_activity_modificarrevgral"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarItv"
            android:label="@string/title_activity_modificaritv"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarTaller"
            android:label="@string/title_activity_modificartaller"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarPersonalizado"
            android:label="@string/title_activity_modificarpersonalizada"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarCorrea"
            android:label="@string/title_activity_modificarcorrea"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarBombaAgua"
            android:label="@string/title_activity_modificarbombaagua"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarFiltroGasolina"
            android:label="@string/title_activity_modificarfgasolina"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarFiltroAire"
            android:label="@string/title_activity_modificarfaire"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarBujias"
            android:label="@string/title_activity_modificarbujias"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarEmbrague"
            android:label="@string/title_activity_modificarEmbrague"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.modificarFiltroAceite"
            android:label="@string/title_activity_modificarEmbrague"
            android:parentActivityName=".activity.listaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.addItv"
            android:label="@string/title_activity_additv"
            android:parentActivityName=".activity.myActivity" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MyActivity" />
        </activity>
        <activity android:name="com.facebook.LoginActivity" />
        <service android:name=".negocio.notificaciones" />
    </application>

</manifest>
