<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlog.gilberto.carlog" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:value="@string/facebook_app_id" android:name="com.facebook.sdk.ApplicationId"/>
        <activity
            android:name=".activity.MyActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.ListaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListaLogs"
            android:label="ListaLogs" >
        </activity>
        <activity
            android:name=".activity.Login"
            android:label="Login" >
        </activity>
        <activity
            android:name=".activity.Register"
            android:label="Register" >
        </activity>
        <activity
            android:name=".activity.AddLog"
            android:label="@string/title_activity_add_log"
            android:parentActivityName=".activity.ListaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.Aceite"
            android:label="@string/title_activity_aceite"
            android:parentActivityName=".activity.AddLog" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AddLog" />
        </activity>
        <activity
            android:name=".activity.FiltroAceite"
            android:label="@string/title_activity_fil_aceite"
            android:parentActivityName=".activity.AddLog" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AddLog" />
        </activity>
        <activity
            android:name=".activity.RevGral"
            android:label="@string/title_activity_revgral"
            android:parentActivityName=".activity.AddLog" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AddLog" />
        </activity>
        <activity
            android:name=".activity.ModificarAceite"
            android:label="@string/title_activity_modificaraceite"
            android:parentActivityName=".activity.ListaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.ModificarRevGral"
            android:label="@string/title_activity_modificarrevgral"
            android:parentActivityName=".activity.ListaLogs" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListaLogs" />
        </activity>
        <activity
            android:name=".activity.AddItv"
            android:label="@string/title_activity_additv"
            android:parentActivityName=".activity.MyActivity" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MyActivity" />
        </activity>
        <activity android:name="com.facebook.LoginActivity" />
        <service android:name=".negocio.Notificaciones" />
    </application>

</manifest>
